.employeeTable {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

.employeeTable th {
  position: relative;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employeeTable th:hover {
  background-color: #e0e0e0;
}

.sort-arrows {
  position: relative; 
  display: inline-block;  
  width: 10px;  
  height: 16px; 
  vertical-align: middle;  
}

.icon-sort {
  position: absolute;  
  left: 0;  
  width: 100%;  
  text-align: center;  
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s, opacity 0.3s;
}

.icon-sort:first-child {
  top: 0;  
}

.icon-sort:last-child {
  bottom: 0;  
}



.table-options {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-options label {
  font-weight: bold;
}

.table-options select {
  margin-left: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 1rem;
}