.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.signInSection {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff; // Couleur de fond pour la section de connexion
  border-radius: 8px; // Coins arrondis pour un look moderne
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Ombre douce pour un léger effet de profondeur
}

.signInContent {
  text-align: center;
}

.signInContent h1 {
  color: #333; // Couleur du texte, peut être une couleur sombre ou une couleur primaire que vous utilisez
  margin-bottom: 24px;
  font-size: 24px;
}

.inputWrapper {
  margin-bottom: 16px;
  text-align: left;
}

.inputWrapper label {
  display: block;
  color: #666; // Couleur du texte des labels
  margin-bottom: 8px;
  font-size: 14px;
}

.inputWrapper input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; // Bordure standard pour les champs de texte
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  &:focus {
    background-color: #344e41;
    outline: none;
  }
}

.signInButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff; // Texte blanc pour un bon contraste
  background-color: #344e41;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #557a68;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
